view Home: {
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="Crafted Furniture​, ​Luxury Interior Design Studio, ​Why choose us, ​Designer furniture, FAQ, Our Social​">
        <meta name="description" content="">
        <title>Casa</title>
        <link rel="stylesheet" href="nicepage.css" media="screen">
        <link rel="stylesheet" href="Casa.css" media="screen">
        <script type="text/javascript" src="jquery.js" defer=""></script>
        <script type="text/javascript" src="nicepage.js" defer=""></script>
        <meta name="generator" content="Nicepage 4.21.12, nicepage.com">
        <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
        <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": ""
            }
        </script>
        <meta name="theme-color" content="#bfb29c">
        <meta property="og:title" content="Casa">
        <meta property="og:type" content="website">
    </head>

    <body data-home-page="Casa.html" data-home-page-title="Casa" lang="es">
        <header>
            <div>
                <nav>
                    <div class="menu-collapse">
                        <a href="#">
                            <svg viewBox="0 0 24 24">
                                <use xlink:href="#menu-hamburger"></use>
                            </svg>
                            <svg viewBox="0 0 16 16">
                                <use xlink:href="#menu-hamburger"></use>
                            </svg>
                        </a>
                    </div>
                    <div>
                        <ul>
                            <li><a href="Casa.html#carousel_c31b" style="padding: 10px 20px;">Casa</a></li>
                            <li><a href="Casa.html#carousel_ad76" style="padding: 10px 20px;">FAQ</a></li>
                            <li><a href="Casa.html#carousel_1389" style="padding: 10px 20px;">Exportacion</a></li>
                        </ul>
                    </div>
                    <div class="u-custom-menu u-nav-container-collapse">
                        <div>
                            <ul>
                                <li><a href="Casa.html#carousel_c31b">Casa</a></li>
                                <li><a href="Casa.html#carousel_ad76">FAQ</a></li>
                                <li><a href="Casa.html#carousel_1389">Exportacion</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section class="u-image u-shading" id="sec-78a8">
            <div>
                <h5>Home Decor</h5>
                <h1>EL AGUACATE</h1>
            </div>
        </section>

        <section id="carousel_c31b">
            <div>
                <div>
                    <div>
                        <h2>Variedad Hass</h2>
                        <img src="images/aguacate_hass_100x133.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <p>
                            Fruta en forma de pera de color verde oscuro en el árbol, se torna morado a negro al madurar. La piel es mediana a gruesa, con textura rugosa. Tamaño pequeño a mediano (140-400 gr.). Tambies este es el mas solicitado para la exportacion.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="u-section-3" id="carousel_1389">
            <div>
                <h2>A que paises exporta México</h2>
                <ul>
                    <li>China</li>
                    <li>Japon</li>
                    <li>Estados Unidos</li>
                    <li>Cile</li>
                </ul>
            </div>
        </section>

        <section id="carousel_ad76">
            <div>
                <h2>FAQ</h2>
                <div>
                    <div>
                        <p>Plaga: durante todo el tiempo hay que estar pendiente por que puede haber animales que consuman el aguacate tales como las ardillas, tambien es importante rociar los con insecticida y fungicida</p>
                        <p>Climatologicos: Si hay una epoca de sequia los arboles pueden morir por la falta de agua, asi como un clima muy helado el aguacate podria tener quemaduras esto tambien con granizo no solo quemandolo si no que tambien golpeando el aguacat</p>
                    </div>
                </div>
            </div>
        </section>

        <footer id="sec-4c42">
            <div>
                <p>Elaborado por: Jose Francisco Avila Calderon</p>
            </div>
        </footer>

        <section class="u-grey-80">
            <a href="https://nicepage.com/website-design" target="_blank">Website Design Ideas</a>
            <p>created with</p>
            <a href="https://nicepage.com/website-builder" target="_blank">Website Builder</a>.
        </section>
    </body>
}
